---
root: true
extends: "eslint:recommended"
parserOptions:
  ecmaVersion: 6
  sourceType: module
  ecmaFeatures:
    jsx: true
env:
  node: true
rules:
  strict: 0
  prefer-const: 2
  wrap-iife: [ 2, "outside" ]
  radix: 2
  use-isnan: 2
  indent: [ 2, 4, { "SwitchCase": 0 } ]
  default-case: 2
  func-style: [ 2, "declaration", { "allowArrowFunctions": true } ]
  comma-spacing: [ 2, { "before": false, "after": true } ]
  space-before-function-paren: 2
  space-before-blocks: 2
  keyword-spacing: 2
  space-unary-ops: 2
  space-infix-ops: [ 2, { int32Hint: false } ]
  arrow-spacing: 2
  no-constant-condition: 0
  no-throw-literal: 2
  no-proto: 2
  no-unused-vars: [ 1, { argsIgnorePattern: "^_$" } ]
  no-extend-native: 2
  no-with: 2
  no-obj-calls: 2
  no-eval: 2
  no-implied-eval: 2
  no-spaced-func: 2
  no-trailing-spaces: 2
  no-irregular-whitespace: 2
  no-use-before-define: [ 2, { "functions": false } ]
  no-multiple-empty-lines: [ 2, { "max": 2, "maxEOF": 1 } ]
